* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: #e2f8ff;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

section {
  display: flex;
  width: auto;
  justify-content: space-between;
  font-size: 2rem;
}

main h3 {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem;
  font-weight: bold;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  width: 60%;
  font-size: 1.2rem;
}

#answers button {
  margin: 10px;
  background-color: #0059ff;
  box-shadow: inset 0px 0px 0px 2px #0047cc;
  border: 1px solid black;
  border-radius: 15px;
  padding: 9px;
}

#reset2 {
  margin: 10px;
  background-color: #0059ff;
  box-shadow: inset 0px 0px 0px 2px #0047cc;
  border: 1px solid black;
  border-radius: 15px;
  padding: 9px;
  display: flex;
  margin: auto;
}

#btn {
  margin: 10px;
  background-color: #0059ff;
  box-shadow: inset 0px 0px 0px 2px #0047cc;
  border: 1px solid black;
  border-radius: 15px;
  padding: 9px;
  display: flex;
  margin: auto;
}

#answers button:hover,
#gamesPlay button:hover {
  background-color: #0059ffba;
}

#showAnswer {
  margin: 10px;
  font-weight: bold;
}

#gamesPlay button {
  margin: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #0059ff;
  box-shadow: inset 0px 0px 0px 2px #0047cc;
  border-radius: 16px;
  padding: 5px;
}

#scoreBoard {
  font-size: 2rem;
  text-align: center;
}
.highScore {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.26);
  width: 50%;
  margin: 1rem auto;
}

.hide {
  display: none;
}

.rightAnswer {
  background-color: green;
}

.wrong {
  background-color: red;
}
